POSTGRES_DB=keycloak
POSTGRES_USER=keycloakuser
POSTGRES_PASSWORD=change-the-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-the-password
KC_HOSTNAME=auth.example.com # or localhost`
KC_PORT=8080